.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    padding: 50px 50px 20px 50px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 50px;
    font-size: 24px;
}

.options{
    display: flex;
    align-items: center;
    justify-content: center;
}

.space{
    color: #000;
    text-decoration: none;
    margin: 0 40px;
}

.social{
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 50px;
    font-size: 24px;
}

.facebook{
    margin: 0 30px;
}

.facebook, .instagram{
    text-decoration: none;
    color: #000;
}

.copyright{
    display: flex;
    justify-content: left;
}

.copyright p{
    font-size: 14px;
    color: #AAA;
}